<div class="routecard">
  <h1>Route</h1>
  <ul class="horizontal-media-scroller">
    <li id="anchor"></li>
    <li *ngFor="let playerAction of playerActions.reverse()">
      <a>
      <figure>
        <picture>
          <img alt="..." loading="lazy" src="https://picsum.photos/500/500?1">
        </picture>
        <figcaption>{{lookupName(playerAction)}}</figcaption>
      </figure>
      </a>
    </li>
  </ul>
</div>
<span id='note'>Tip: Pin the route back to the right by quickly scrolling the whole thing to the right.</span>
