.routecard {
  height: 15dvh;
  width: 50dvw;
  color:white;
  border: 1px solid #ff006e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#note {
  position: relative;
  color: white;
  width: 50dvw;
  text-align: center;
}

.indicator {
  position: absolute;
  top: 25%;
  left: -35%;
  z-index: 25;
  background: transparent;

  /* horizontal flip for correct walking direction */
  -moz-transform: scale(-2, 2);
  -webkit-transform: scale(-2, 2);
  -o-transform: scale(-2, 2);
  -ms-transform: scale(-2, 2);
  transform: scale(-2, 2);
}

* {
  --sm-space: 1rem;
  --md-space: 4rem;
  --gap: var(--md-space);
    --size: 7dvh;
}

.horizontal-media-scroller {
    max-width: calc(50dvw - 2 * var(--gap));

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: calc(var(--gap) / 2);
  margin: 0;
  padding-left: var(--gap);
  padding-right: var(--gap);
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--gap)
}

.horizontal-media-scroller > li {
    display: inline-block;
    overflow-anchor: none;
    /*  container padding fix  */
  }

#anchor {
  position: absolute;
  top: 0px;
  right: 10px;
  overflow-anchor: auto;
  height: 1px;
  width: 51dvw;
  z-index: -1000;
}

.horizontal-media-scroller > li:first-of-type figure {
  position: relative

}

[dir="ltr"] .horizontal-media-scroller > li:first-of-type figure::after {
        right: calc(var(--gap) * -1);
}

[dir="rtl"] .horizontal-media-scroller > li:first-of-type figure::after {
        left: calc(var(--gap) * -1);
}

.horizontal-media-scroller > li:first-of-type figure::after {
        content: "";
        position: absolute;

        width: var(--gap);
        height: 100%;

        top: 0;
        right: calc(var(--gap) * -1);
      }

.horizontal-media-scroller figure {
    scroll-snap-align: start;
  }

.horizontal-media-scroller a {
    display: inline-block;
    text-decoration: none;
    color: inherit
  }

.horizontal-media-scroller a:focus {
      outline-offset: calc(var(--gap) / 4);
    }

@media (prefers-reduced-motion: no-preference) {
      .horizontal-media-scroller a {
        transition: outline-offset .25s ease;
      }
    }

figure {
  display: grid;
  margin: 0;
  max-width: var(--size);

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

figure > picture {
    width: var(--size);
    height: var(--size);
  }

figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

    border-radius: 5ch;
    overflow: hidden;

    background-image:
      linear-gradient(
        to bottom,
        hsl(0, 0%, 40%),
        hsl(0, 0%, 20%)
      );
  }

figure > figcaption {
    font-weight: 300;
    word-break: break-word;
    font-family: "blokk";
    text-align: center;
  }

h2 {
  font-size: 2rem;
  font-size: var(--md-space);
  font-weight: 800;
  letter-spacing: .75px;
}

h3 {
  font-weight: 400;
  letter-spacing: .75px;
}

@supports (aspect-ratio: 1) {
  .horizontal-media-scroller figure > picture {
    width: auto;
    aspect-ratio: 1
  }
  section:nth-child(2) .horizontal-media-scroller figure > picture {
      aspect-ratio: 16/9
  }
  section:nth-child(3) .horizontal-media-scroller figure > picture {
      height: calc(var(--size) * 2);
      aspect-ratio: 4/3
  }

      @media (max-width: 480px) {
  section:nth-child(3) .horizontal-media-scroller figure > picture {
        height: calc(var(--size) * 1.5)
  }
      }
}

li {
position: relative;
}

#modal {
  position:absolute;
  height: 25dvh;
  width: 25dvw;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal::backdrop {
  background-color: rgba(255, 0, 110, 0.25);
}

#modalContainer {
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}

#modalContainer button {
  color: white;
}
