.locationcard {
  width: 90vw;
  height: 90vh;
  border: 1px solid #ff006e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color:black;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
}

h1, span {
  background: transparent;
}

#actioncontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-grow: 1;
  margin-bottom: 1%;
  align-self: stretch;
  max-height: 90%;
  background: transparent;
}

.action {
  width: 30%;
  border: 1px solid #ff006e;
  border-radius: 10px;
  overflow: scroll;
  background :transparent;
}

