.button-container {
  border: 1px solid #ff006e;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 1%;

  display:flex;
  justify-content: space-between;
  align-items: center;

  height: 15dvh;
  background-position: center;
  background-repeat: no-repeat;
}

.button-container button {
  padding: 0.5%;
  border: 1px solid #ff006e;
  border-radius: 5px;
  background: black;
  box-sizing: border-box;
  box-shadow: none;
  margin: 1%;
  min-width: 30%;
  color:white;
  margin-left: 5%;
}

.button-container button:hover {
  background-color: #ff006e;
}

.button-container button:active {
  filter: brightness(85%);
  color:white;
}

.button-container span {
  margin-right:10px;
  background: transparent;
}
