* {
  margin: 0px;
  padding: 0px;
  background-color:black;
}

.action-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  background: transparent;
}

.action-card h3, h4 {
  text-align: center;
  background: transparent;
}

.button-container-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 2.5%;
  max-width: 95%;
  background: transparent;
}
